
.button-1 {
    background-color: aqua;
    accent-color: rebeccapurple;
    border-radius: 10px;
    border-color: 2px teal;
    width: 100px;
    height: 80;
    box-shadow: 25px;
    box-shadow: color(blue);
}

.button-2 {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-top: 30px;
    background-color: darkblue;
    color: white;
}

.button-3 {
    background-color: rebeccapurple;
    color: whitesmoke;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border-color: 2px whitesmoke;
    margin-top: 20px;
    box-shadow: 10px;
}